################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OBDLogService/.vs/OBDLogService/FileContentIndex/63fdfbe6-374a-47ca-a618-889d779711c8.vsidx
